<p><%= t(".welcome", name: @user.name) %></p>

<p><%= t(".content") %></p>

<p style="text-align:center; margin-top: 10px"><%= t(".details") %></p>

<div style="text-align:center; font-size: 28px; margin-bottom: 10px">
  <div style="display: inline; border: 2px solid #000; padding: 2px; background-color: #ccc;">
    <%= "#{@prefix}-" %>
  </div>
  <div id="code" style="display: inline; border: 2px solid #000; padding: 2px;">
    <%= @code %>
  </div>
</div>

<p><%= t(".alternatively") %></p>

<table class="button expanded radius">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <%= link_to t(".verify_email"), confirm_with_token_email_confirmations_url(confirmation_token: @confirmation_token, host: @organization.host), target: :blank %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
